.credits {
  height: 600px;
  display:flex;
  justify-content: center;
  width:700px;
  position: relative;
  margin: 0 auto;

  .credits__text {
    align-self: flex-end;
    margin-bottom: 200px;
  }

  h3 {
    font-weight:lighter;
  }

  .credits__image {
    position:absolute;
  }

  #perfume {
    top:0;
    left:0;
  }

  #vinyl {
    top:0;
    right:0;
  }

  #cocktail {
    bottom:0;
    margin-bottom: 30px;
  }
}

