// global styles for media queries

@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2) {
    html {
      overflow-x:hidden;
      width:100vw;
    }

    body {
      padding: 0;
      overflow-x:hidden;
      width:100vw;
    }

    .pg__block {
      width: 80vw;
    }

    video, .pg__video {
      width: 100vw;
      height:56vw
    }

    .pg {
      width: 100vw;
      margin: 15vh 0;
      height: 100vh;
    }


    .wrapper {
      width: 100vw;
      overflow-x:hidden;
    }

}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3) {

    body {
      padding: 0;
      // height: 100000px;
      // overflow-x:hidden;
      width:100vw;
      // height: fit-content;
    }

    .pg__block {
      width: 80vw;
    }

    video, .pg__video {
      width: 100vw;
      height:56vw
    }


 .pg {
      width: 100vw;
      margin: 15vh 0;
      height: 100vh;
    }

}

/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 812px)
  and (-webkit-min-device-pixel-ratio: 3) {

    body {
      padding: 0;
      // height: 100000px;
      // overflow-x:hidden;
      width:100vw;
      // height: fit-content;
    }

    .pg__block {
      width: 80vw;
    }

    video, .pg__video {
      width: 100vw;
      height:56vw
    }


 .pg {
      width: 100vw;
      margin: 15vh 0;
      height: 100vh;
    }

}
