// global styles for media queries
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 812px) {
  .clicker:before {
    content: 'Click to reveal';
    color:#B4B7BA;
    font-size:15px;
    position:absolute;
    top:-15px;
    font-variant-caps: small-caps;
  }
}

//  ---------iPhone 4 ---------
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px) {
      html {
      overflow-x:hidden;
      width:100vw;
    }

    body {
      padding: 0;
      overflow-x:hidden;
      width:100vw;
    }

    .pg__block {
      width: 80vw;
    }

    video, .pg__video {
      width: 100vw;
      height:56vw
    }

    .pg {
      width: 100vw;
      margin: 15vh 0;
      height: 100vh;
    }


    .wrapper {
      width: 100vw;
      overflow-x:hidden;
    }
  }

 //  ---------SamSung 5 ---------

@media only screen
  and (min-device-width: 360px)
  and (max-device-width: 640px) {

    html {
      overflow-x:hidden;
      width:100vw;
    }

    body {
      padding: 0;
      overflow-x:hidden;
      width:100vw;
    }

    .pg__block {
      width: 80vw;
    }

    video, .pg__video {
      width: 100vw;
      height:56vw
    }

    .pg {
      width: 100vw;
      margin: 15vh 0;
      height: 100vh;
    }


    .wrapper {
      width: 100vw;
      overflow-x:hidden;
    }
  }

// -------iPhone6,7,8 --------

@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2) {
    html {
      overflow-x:hidden;
      width:100vw;
    }

    body {
      padding: 0;
      overflow-x:hidden;
      width:100vw;
    }

    .pg__block {
      width: 80vw;
    }

    video, .pg__video {
      width: 100vw;
      height:56vw
    }

    .pg {
      width: 100vw;
      margin: 15vh 0;
      height: 100vh;
    }


    .wrapper {
      width: 100vw;
      overflow-x:hidden;
    }

}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3) {

    html {
      overflow-x:hidden;
      width:100vw;
    }

    body {
      padding: 0;
      overflow-x:hidden;
      width:100vw;
    }

    .pg__block {
      width: 80vw;
    }

    video, .pg__video {
      width: 100vw;
      height:56vw
    }

    .pg {
      width: 100vw;
      margin: 15vh 0;
      height: 100vh;
    }


    .wrapper {
      width: 100vw;
      overflow-x:hidden;
    }

}

/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 812px)
  and (-webkit-min-device-pixel-ratio: 3) {
    html {
      overflow-x:hidden;
      width:100vw;
    }

    body {
      padding: 0;
      overflow-x:hidden;
      width:100vw;
    }

    .pg__block {
      width: 80vw;
    }

    video, .pg__video {
      width: 100vw;
      height:56vw
    }

    .pg {
      width: 100vw;
      margin: 15vh 0;
      height: 100vh;
    }


    .wrapper {
      width: 100vw;
      overflow-x:hidden;
    }

}
