.header {
  margin: 0 auto 100px auto;
  height: 45vw;
  width: 80vw;

  .header__video {
    position:relative;
    height: 45vw;
    width: 80vw;
    background-image: url('../images/video-1.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  video {
    height: 45vw;
    width: 80vw;
  }

  h1 {
    position: absolute;
    bottom:0;
    margin: 30px;
    font-weight: 700;
    z-index: 2;
  }

  h2 {
    font-size: 20px;
    margin:0;
    font-weight: 400;
  }

  .header__credits {
    position:absolute;
    z-index: 5;
    bottom:0;
    right:0;
    margin: 15px;
  }
}
