.header {
  position: relative;
  margin: 0 auto 100px auto;
  height: 360px;
  width: 640px;
  background-image: url("../images/video-1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }
  .header h1 {
    position: absolute;
    bottom: 0;
    margin: 30px;
    font-size: 100px;
    font-weight: 700; }
  .header h2 {
    font-size: 15px;
    margin: 0;
    font-weight: 400; }
