@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 812px) {

    .pg-6 {
      height: 280vw;
    }


  .pg-6 .pg__text {
    font-size: 1.5rem;
  }

  .pg-6 .pg__video {
      top: 37vw;
      width: 100vw;
      height: 56vw;
      left:0;
  }

  .pg-6 video {
    width: 100vw;
    height: 56vw;
  }

  .pg-6 .pg__block {
    width: 80vw;
    top: 99vw;
    left: 10vw;
  }

  .pg-6 .first-line {
    top: 0;
  }

  .pg-6 .second-line {
    top: 106vw;
    width: 50vw;
    left:11vw;
  }

  .pg-6 .third-line {
    top: 200vw;
  }

  .pg-6 .fourth-line {
    top: 250vw;
    left: 5vw;
    width: 90vw;
  }

}

