@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 812px) {

  .pg-9 .pg__video {
      top:0;
      left:0;
  }

  .pg-9 .pg__text {
      top: 61vw;
      left:3vw;
      font-size: 1.5rem;
      width:90vw;
  }

  .pg-9 .pg__block {
      top:0;
      left:60vw;
      width: 20vw;
      height: 60vh;

  }
}
