.pg-12 {
  height:600px;
  .pg__text {
    height: 600px;
    width:180px;
    position:absolute;
    top: 1882px;
    right:15px;
    font-size: 35px;
    z-index:3;
    color:white;
  }

  .pg__video {
    background-image: url('../images/video-12.png');
    right:0;
    position:absolute;
    z-index:-1;
    top: -1943px;
  }

}
