@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 812px) {


    .pg-3 .pg__video {
      left:0;
      top: 45vw;
    }

    .pg-3 .pg__block {
      top: 5vw;
      left: 20vw;
      width:80vw;
    }

    .pg-3 .pg__text {
      top: 104vw;
      left:70px;
      font-size: 1.3rem;
      width: 70vw;
    }


}
