@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 812px) {

  .pg-7 {
    height: 150vh;
  }

  .pg-7 .pg__video {
    top:-100vw;
    left:0;
  }

  .pg-7 #sad {
    top: 0;
    font-size:1.5rem;
    padding:5vw;
  }

  .pg-7 #alone {
    width: 50vw;
    top: 60vw;
    left: 10vw;
  }

  .pg-7 #artist {
    font-size:1.5rem;
    width: 89vw;
    top: 200vw;
    padding:5vw;
    left: 0;
  }

  .pg-7 .pg__block {
    top:50vw;
    left: 5vw;
    width: 90vw;
    height: 60vh;

  }
}

