@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 812px) {


  .pg-15 .pg__video {
      top:0;
      left:0;
  }

  .pg-15 .pg__text {
      top:60vw;
      left:5vw;
      width: 90vw;
      font-size: 1.5rem;
  }

  .pg-15 .pg__block {
      top:0;
      left:60vw;
      width: 80vw;
      height: 60vh;

  }
}
