.pg-6 {
  height: 1900px;
  .pg__video {
    background-image: url('../images/video-6.png');
    margin:0 auto;
    z-index: -6;
    position:absolute;
    top:300px;
    height:33.75vw;
    width:60vw;
    left: 0;
  }

  video {
    height:33.75vw;
    width:60vw;
  }

  .pg__block {
    width: 150vw;
    height: 360px;
    position: absolute;
    top: 749px;
    left:-20vw;
  }

  .blasted-text span {
    opacity:0;
  }

  .pg__text {
    z-index:4;
    position:relative;
    width:100%;
  }

  .first-line {
    font-size: 30px;
    position: absolute;
    top:80px;
    left: -10vw;
  }

  .second-line {
    position:absolute;
    font-size: 30px;
    top:256px;
    left: 65vw;
    width: 50px;
  }

  .third-line {
    position:absolute;
    top: 965px;
    font-size: 30px;
    left: 30px;
  }

  .fourth-line {
    top: 1382px;
    font-size: 23px;
    position: absolute;
    right: 0;
    width: 600px;
  }

}
