@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 812px) {

  .pg-12 .pg__video {
    top:0;
    left:0;
  }

  .pg-12 .pg__text {
    top: 34vw;
    left: 13vw;
  }

  .pg-12 .pg__block {
    top:70vw;
    left: 31vw;
    width: 60vw;
    height: 60vh;
  }
}
