.pg-7 {
  height: 1500px;
  margin-top: 300px;
  .pg__text {

    display: inline-block;
    position: absolute;
    z-index: 5;
    font-size:30px;
    right:0;
  }

  .pg__video {
    background-image: url('../images/video-7.png');
    position:absolute;
    left:100px;
    top: 277px;
  }

  .pg__block {
    width: 600px;
    height:400px;
    position: absolute;
    display: inline-block;
    left:-20vw;
  }

  .invisible {
    opacity: 0;
  }

  #sad {
    top: -332px;
  }

  #alone {
    width: 500px;
    top: -32px;
    left: 0;
  }

  #artist {
    width: 942px;
    top: 992px;
  }

  #chopin {
    opacity: 0;
  }

}

