//  ---------iPhone 4, Samsung 5, iPhone 6, 7, 8, and 10————
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 812px) {

  .pg-5 .pg__video {
      top:30vh;
      left:0;
  }

  .pg-5 .pg__text {
    opacity: 0;
  }

  .pg-5 .pg__block {
      top:0;
      left:60vw;
      width: 20vw;
      height: 60vh;
      z-index: 5;
      font-size: 24px;
      padding: 15px;

  }

  .pg-5 .pg__block:before {
    content: "For convenience’s sake, she wore her hair back, cleaned and low.";
  }
}
