.pg-5 {
  height: 500px;
  .pg__video {
    position:absolute;
    left: 2vw;
    z-index: 2;
    background-image: url('../images/video-5.png');
  }
  .pg__text {
    text-align: right;
    width: 330px;
    font-size: 24px;
    position:absolute;
    left: 400px;
    top: 600px;
    z-index: 4;
    font-weight:lighter;
  }

  .pg__block {
    width: 600px;
    height: 300px;
    position:absolute;
    left: 400px;
    top: 300px;
    z-index: 3;
  }

}

