@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 812px) {

  .pg-4 {
        height: 100vh;
    border: solid 1px red;
  }
  .pg-4 .pg__video {
    top: 51vw;
    z-index: 0;
  }

  .pg-4 .pg__block {
    top: 65vw;
    height: 65vh;
    width: 30vw;
    left: 40vw;
    z-index: 2;

  }

  .pg-4 .pg__text {
    top: 79vw;
    font-size: 1.2rem;
    width: 20vw;
    left: 44vw;
    z-index: 5;
  }
}

// this one will need a separate query for iphone ten and perhaps others
// it seems that the data percentage isnt working on older phones but is on the iphone ten
// so the top offset needs to be different depending
