.pg-2 {
  height: 700px;
  .pg__text {
    width: 380px;
    font-size: 30px;
    position:absolute;
    left: 130px;
    top: 220px;
    z-index: 4;
    font-weight:lighter;
  }

  .pg__block {
    width: 450px;
    height: 600px;
    position:absolute;
    left: 20%;
    top: 120px;
    z-index: 3;
  }

  .pg__video {
    position:absolute;
    left: 30vw;
    top: 400px;
    z-index: 2;
    background-image: url('../images/video-2.png');
  }

}

