.pg-4 {
  height: 700px;
  .pg__video {
    position:absolute;
    right: 0;
    top: 400px;
    z-index: 2;
    background-image: url('../images/video-4.png');
  }

  .pg__block {
    width: 600px;
    height: 200px;
    position: absolute;
    right: 30vw;
    bottom: 200px;
    z-index: 3;
  }
  .pg__text {
    width: 400px;
    font-size: 30px;
    position:absolute;
    right: 40vw;
    bottom: 270px;
    z-index: 4;
    font-weight:lighter;
  }

}

