//  ---------iPhone 4, Samsung 5, iPhone 6, 7, 8, and 10————
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 736px) {

  .pg-5 {
  }

  .pg-5 .pg__video {
      top:200vh;
      left:0;
  }

  .pg-5 .pg__text {
      top:20vh;
      left:0;
  }

  .pg-5 .pg__block {
      top:0;
      left:60vw;
      width: 20vw;
      height: 60vh;

  }
}

@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 812px)
  and (-webkit-min-device-pixel-ratio: 3) {
     .pg-5 .pg__video {
      top:90vh;
      left:0;
  }


    .pg-5 .pg__block {
      top:-536px;
      left:60vw;
      width: 20vw;
      height: 60vh;

  }

  .pg-5 .pg__text {
      top:-104vh;
      left:0;
  }

}
