@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2) {

    .pg-2 .pg__text {
      width: 70vw;
      font-size: 30px;
      left: 5vw;
    }

    .pg-2 .pg__block {
      top: 20vh;
      width: 80vw;
      height: 100vw;
      left:10vw;
    }

  .pg-2 .pg__video {
    left:0;
    top: 50vh;
    z-index: 4;
  }

}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3) {


    .pg-2 .pg__text {
      width: 70vw;
      font-size: 30px;
      left: 5vw;
    }

    .pg-2 .pg__block {
      top: 20vh;
      width: 80vw;
      height: 100vw;
      left:10vw;
    }

  .pg-2 .pg__video {
    left:0;
    top: 50vh;
    z-index: 4;
  }

}

/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 812px)
  and (-webkit-min-device-pixel-ratio: 3) {


    .pg-2 .pg__text {
      width: 70vw;
      font-size: 30px;
      left: 5vw;
    }

    .pg-2 .pg__block {
      top: 20vh;
      width: 80vw;
      height: 100vw;
      left:10vw;
    }

  .pg-2 .pg__video {
    left:0;
    top: 50vh;
    z-index: 4;
  }

}


