@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 812px) {
  .pg-11 .pg__video {
    top: 200vw;
    width: 100vw;
    height: 56vw;
  }

  .pg-11 video {
    width: 100vw;
    height: 56vw;
  }

  .pg-11 .pg__text {
    top: 20vh;
    left: 15vw;
    font-size: 1.3rem;
    width: 76vw;
    text-align: left;
  }

  .pg-11 #stanza-three {
      top: 161vw;
  }

  .pg-11 .pg__block {
      top:0;
      left:0;
      width: 80vw;
      height: 60vh;

  }
}
