.pg-7 {
  height: 700px;
  margin-top: 300px;
  .pg__text {
    width: 500px;
    display: inline-block;
    position: absolute;
    z-index: 5;
    font-size:30px;
    right:0;
    text-align:right;
  }

  .pg__video {
    background-image: url('../images/video-7.png');
    position:absolute;
    left:100px;
    top: 60px;
    z-index:5;
  }

  .pg__block {
    width: 600px;
    height:400px;
    position: absolute;
    display: inline-block;
    left:-20vw;
  }

  #sad {
    top:0;
  }

  #alone {
    top:170px;
  }

  #artist {
    top:340px;
  }

  #spinster {
    top:510px;
  }


}
