@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 812px) {

  .pg-4 {
    height: 100vh;
  }
  .pg-4 .pg__video {
    top: 51vw;
    z-index: 0;
  }

  .pg-4 .pg__block {
    top: 65vw;
    height: 65vh;
    width: 30vw;
    left: 40vw;
    z-index: 2;

  }

  .pg-4 .pg__text {
    top: 79vw;
    font-size: 1.2rem;
    width: 20vw;
    left: 44vw;
    z-index: 5;
  }
}


