.pg-5 {
  height: 500px;

  .pg__video {
    position:absolute;
    left: 0;
    z-index: 2;
    background-image: url('../images/video-5.png');
  }
  .pg__text {
    text-align: right;
    width: 330px;
    font-size: 30px;
    position:absolute;
    left: 45vw;
    // top: 300px;
    z-index: 4;
    font-weight:lighter;
  }

  .pg__block {
    width: 600px;
    height: 300px;
    position:absolute;
    left: 25vw;
    top: 150px;
    z-index: 1;
  }

}

