@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2) {


  .pg-6 .pg__video {
      top:0;
      left:0;
  }

  .pg-6 .pg__text {
      top:20vh;
      left:0;
  }

  .pg-6 .pg__block {
      top:0;
      left:60vw;
      width: 20vw;
      height: 60vh;

  }
}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3) {
    .pg-6 .pg__video {
      top:0;
      left:0;
  }

  .pg-6 .pg__text {
      top:20vh;
      left:0;
  }

  .pg-6 .pg__block {
      top:0;
      left:60vw;
      width: 20vw;
      height: 60vh;

  }

}

/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 812px)
  and (-webkit-min-device-pixel-ratio: 3) {

    .pg-6 .pg__video {
      top:0;
      left:0;
  }

  .pg-6 .pg__text {
      top:20vh;
      left:0;
  }

  .pg-6 .pg__block {
      top:0;
      left:60vw;
      width: 20vw;
      height: 60vh;

  }

}
