.pg-2 {
  height: 900px; }
  .pg-2 .perfume__img {
    z-index: 4; }
  .pg-2 .pg__img {
    position: absolute;
    left: 795px;
    top: 538px;
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg); }
  .pg-2 .pg__video {
    position: absolute;
    left: 10vw;
    top: -35px;
    z-index: -1; }
  .pg-2 .pg__block {
    background: rgba(228, 231, 229, 0.64);
    width: 200px;
    height: 600px;
    position: absolute;
    left: 60%;
    top: -256px;
    z-index: 0; }
  .pg-2 .pg__text {
    width: 700px;
    font-size: 24px;
    position: absolute;
    top: 603px;
    left: 20%;
    z-index: 3; }
