@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 812px) {


    .pg-3 .pg__video {
      left:0;
    }

    .pg-3 .pg__block {
      left: 20vw;
      width:80vw;
    }

    .pg-3 .pg__text {
      left: 25vw;
      top:40vh;
      font-size: 1.3rem;
      width: 70vw;
    }


}
