.pg-5 {
  height: 700px;

  .pg__video {
    position:absolute;
    left: 0;
    top: 564px;
    z-index: 2;
    background-image: url('../images/video-5.png');
  }
  .pg__text {
    text-align: right;
    width: 149px;
    font-size: 24px;
    position:absolute;
    right: 58px;
    top: 143px;
    z-index: 4;
    font-weight:lighter;
  }

  .pg__block {
    background: rgba(228, 231, 229, 0.30);
    width: 600px;
    height: 400px;
    position:absolute;
    right: 0;
    top: 120px;
    z-index: 3;
  }

}

