.pg-10 {
  height: 1000px;

  .pg__text {
    font-size: 30px;
    width: 200px;
    position: absolute;
    left: 13vw;

  }
  .pg__video {
    background-image: url('../images/video-10.png');
    position: absolute;
    right: 0;

  }

  .pg__block {
    width: 300px;
    height: 600px;
    position:absolute;
    top:-50px;
    left:10vw;
  }

}
