.pg-13__text div {
    position:absolute;
    width: 600px;
}


.pg-13 {
  height: 700px;
  .pg-13__text {
    width:400px;
    position:absolute;
    font-size:20px;
    line-height:1.5;
    z-index: 3;
  }

  .before-animate {
    opacity: 0;
  }

  .pg__video {
    background-image: url('../images/video-13.png');
    position: absolute;
    top:300px;
    right:0;
  }

  .pg__block {
    width:450px;
    height: 700px;
    left:0;
    position: absolute;
    padding: 5vw;
  }

  #oola-3 {
    font-size: 100px;
  }

  #silver {
    top: 0px;
    width: 350px;
  }

  #paranormal {
    top: 52px;
    left: 155px;
  }

  .stanza-four {
    width: 350px;
    top: 99px;
  }

  .stanza-five {
    width: 350px;
    top: 319px;
  }

  #stamp {
    top: 261px;
    font-size:24px;
    width: 250px;
    left: 81px;
  }


  #fine {
    top:397px;
    font-size:40px;
    left:113px;

  }

  #feminine {
    top: 417px;
    font-size:40px;
    left:160px;

  }

  #smear {
    top: 436px;
    font-size:40px;
    left:231px;

  }


}


