@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 812px) {

  .pg-13 {
  }

  .pg-13 .pg__video {
    top:0;
    left:0;
  }

  .pg-13 .pg__text {
    top:0;
    left:0;
  }

  .pg-13 #oola-3 {
    top: -7vw;
  }

  .pg-13 #silver {
    top: 29vw;
  }

  .pg-13 #paranormal {
    top: 48vw;
  }

 .pg-13 .stanza-four {
    top: 62vw;
  }


  .pg-13 #stamp {
    top: 101vw;
  }

  .pg-13 .stanza-five {
    top: 119vw;
  }

  .pg-13 #fine {
    top: 153vw;
    left:10vw;
  }
  .pg-13 #feminine {
    top: 161vw;
    left:20vw;
  }
  .pg-13 #smear {
    top: 167vw;
    left:35vw;
  }


  .pg-13 .pg__block {
    top:60vw;
    left:0;
    width: 80vw;
    height: 60vh;
}
}
