.pg-6 {
  // border: solid 1px red;
  height: 700px;
  .pg__text {
    // border: solid 1px blue;
    font-size: 30px;
    z-index:4;
    position:relative;

  }

  .pg__video {
    // border: solid 1px blue;
    background-image: url('../images/video-6.png');
    margin:0 auto;
    z-index: 2;
    position:relative;
  }

  .pg__block {
    // border: solid 1px blue;
    height: 360px;
    width: 100%;
    position: absolute;
    top:0;
  }

  #first, #second, #third, #fourth, #fifth, #sixth, #seventh, #eigth {
    position:absolute;
    top:0;
    left: 18vw;
    font-size: 20px;
    width: 800px;
    opacity:0;
  }
}
