.pg-8__text div {
    opacity: 0;
    position:absolute;
    width: 600px;
    font-size: 20px;
}

.pg-8 {
  height: 900px;
  width:640px;


  #oola {
    top: 0;
  }

  #name {
    top: -60px;
    font-size: 40px;
  }

  #a-word {
    top: -70px;
    left: 50px;
  }

  #like-any {
    top: -40px;
    left: 300px;
  }

  #kid {
    top: 370px;
    left: 50px;
  }

  #book {
    top: 420px;
    left: 150px;
    font-size: 30px;
  }

  #bread {
    top: 470px;
    left: 250px;
    font-size: 30px;
  }

  #breasts {
    top: 520px;
    left: 350px;
    font-size: 30px;
  }

  #until {
    top: 570px;
    left: 50px;
  }

  #oola-2 {
    font-size: 50px;
    top: 600px;
    left: 350px;
  }

  #tongue {
    top: 670px;
    left: 50px;
  }

  #cream {
    top: 720px;
    left: 118px;
  }

  #mouth {
    top: 770px;
    left: 180px;
  }

  .pg__video {
    background-image: url('../images/video-8.png');
    position: absolute;
  }

  .pg__block {

  }
}


// <div id="until">until these most basic things sounded foreign and I could barely remember what they meant.</div>
//          <div id="oola-2">Oola</div>
//          <div id="tongue">similarly cracked open on the tongue,</div>
//          <div id="cream">like something cream-filled, a necessary embarrassment.</div>
//          <div id="mouth">It made one’s mouth suddenly suspect.</div>
