@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2) {

  .pg-14 .pg__video {
      top:0;
      left:0;
      width:100vw;
      height:56vw;
  }

  .pg-14 video {
    width:100vw;
    height:56vw;
  }

  .pg-14 #stopped {
    bottom: 63vw;
    width: 100vw;
  }

  .pg-14 #gender {
    top: 54vw;
    width: 97vw;

  }

}

