@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 812px) {

  .pg-10 {
    border: solid 1px red;
  }
  .pg-10 .pg__video {
    top:0;
    left:0;
  }

  .pg-10 .pg__text {
    top: 59vw;
    left: 13vw;
  }

  .pg-10 .pg__block {
    top:0;
    left: 34vw;
    width: 50vw;
    height: 100vh;
  }
}
