
body {
  overflow-x: hidden;
  height: 10500px;
  padding: 50px;
  margin: 0;
  font-family: 'big-caslon-fb', serif;
  color: #D44D87;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content:center;
}

.pg {
  position: relative;
  margin: 100px auto;
  width: 80vw;
}

.pg__video {
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
  width: 640px;
  height:360px;
}

.pg__block {
  background-color: rgba(228, 231, 229, 0.30);
}

.flex {
  display: flex;
}


.hidden {
  display:none;
}
