
<div class="wrapper">
  <div class="header">
  <div class="header__video">
    <h1 id="title">Oola</h1>
    <video width="1280" height="720" poster="../images/video-1.png" class="lazy" autoplay loop muted playsinline alt="oola slowly blinking">
      <source data-src="../videos/video-1.mp4"  type="video/mp4" />
      <source data-src="../videos/video-1.ogv"  type="video/ogg" />
    </video>
    <div class="header__credits rellax" data-rellax-speed="5" data-rellax-percentage="0.5">
    <h2>Original text by Brittany Newell</h2>
    <h2>Adaptation by Laura Houlberg</h2>
  </div>
  </div>
</div>

<!-- page 2 -->
  <div class="pg pg-2">
    <div class="pg__text rellax" data-rellax-speed="-1" data-rellax-percentage="0.5
">
      We made up a game during our stay at the Orbitson’s beach house.
    </div>
    <div class="pg__block rellax" data-rellax-speed="-1.5" data-rellax-percentage="0.5
">

    </div>
    <div class="pg__video rellax" data-rellax-speed="2.5" data-rellax-percentage="0.5
">
      <video width="640" height="360" autoplay loop playsinline poster="../images/video-2.png" class="lazy" alt="oola pulling on her clothes behind a glass">
        <source data-src="../videos/video-2.mp4"  type="video/mp4" />
        <source data-src="../videos/video-2.ogv"  type="video/ogg" />
      </video>
    </div>
  </div>
  <!-- page 3 -->
  <div class="pg pg-3 rellax">
    <div class="pg__video rellax" data-rellax-speed="+1">
      <video width="640" height="360" autoplay loop playsinline poster="../images/video-3.png" class="lazy">
        <source data-src="../videos/video-3.mp4"  type="video/mp4" />
        <source data-src="../videos/video-3.ogv"  type="video/ogg" />
      </video>
    </div>
    <div class="pg__block rellax" data-rellax-speed="-1">

    </div>
    <div class="pg__text rellax" data-rellax-speed="2">
       We played it in the evening, after dinner. Oola wore one of Mrs. Orbitson’s dresses, an unseasonable velvet number with a skirt that hazed the floor, the hem furry and teasing as a frat boy.
    </div>
  </div>
<!-- page 4 -->
    <div class="pg pg-4">
        <div class="pg__video rellax" data-rellax-speed="2">
        <video width="640" height="360" autoplay loop playsinline poster="../images/video-4.png" class="lazy">
          <source data-src="../videos/video-4.mp4"  type="video/mp4" />
          <source data-src="../videos/video-4.ogv"  type="video/ogg" />
        </video>
      </div>
      <div class="pg__text rellax" data-rellax-speed="0">
        She sprayed Mrs. Orbitson’s perfume, generously, on her neck.
      </div>
      <div class="pg__block rellax" data-rellax-speed="0">

      </div>
    </div>

    <!-- page 5 -->
    <div class="pg pg-5">
        <div class="pg__video rellax" data-rellax-speed="-2" data-rellax-percentage="0.5">
        <video width="640" height="360" autoplay loop playsinline poster="../images/video-5.png" class="lazy">
          <source data-src="../videos/video-5.mp4"  type="video/mp4" />
          <source data-src="../videos/video-5.ogv"  type="video/ogg" />
        </video>
      </div>
      <div class="pg__block rellax" data-rellax-speed="2" data-rellax-percentage="0.5">
      </div>
      <div class="pg__text rellax" data-rellax-speed="5" data-rellax-percentage="1.5">
        For convenience’s sake, she wore her hair back, cleaned and low.
      </div>
    </div>

    <!-- page 6 -->

    <div class="pg pg-6">
      <div class="pg__text blasted-text">
                <div class="first-line rellax clicker" data-rellax-speed="2" data-rellax-percentage="0.5">
                  <span>Oola </span><span>poured </span><span>each </span><span>of </span><span>us </span><span>a </span><span></span><span>drink, </span><span>choosing </span><span>from </span><span>the </span><span>Orbitson’s </span><span>expansive </span><span>wet </span><span>bar. </span>
                </div>
                <div class="second-line rellax" data-rellax-speed="5" data-rellax-percentage="0.5">
                  <span>We </span><span>were </span><span>like </span><span>children </span><span>with </span><span>taped-on </span><span>corsages, </span><span>estimating </span><span>our </span><span>own </span><span>depths, </span><span>guessing </span><span>at </span><span>love. </span>
                </div>
                <div class="third-line rellax clicker" data-rellax-speed="5" data-rellax-percentage="0.5">
                  <span>The </span><span>windows </span><span>would </span><span>be </span><span>open, </span><span>the </span><span>smell </span><span>of </span><span>the </span><span>city </span><span>suffusing </span><span>the </span><span>room. </span>
                </div>
                <div class="fourth-line rellax clicker" data-rellax-speed="0" data-rellax-percentage="0.5">
                  <span>It </span><span>ate </span><span>the </span><span>curtains, </span><span>warped </span><span>the </span><span>dark </span><span>wood, </span><span>did </span><span>all </span><span>the </span><span>things </span><span>we </span><span>as </span><span>house-sitters </span><span>were </span><span>supposed </span><span>to </span><span>prevent </span><span>but </span><span>as </span><span>self-absorbed </span><span>lovers </span><span>found </span><span>excusable.</span>
                </div>
      </div>
      <div class="pg__block rellax" data-rellax-speed="5" data-rellax-percentage="0.5" id="text-box">
      </div>
      <div class="pg__video rellax" data-rellax-speed="0" data-rellax-percentage="0.5">
        <video width="768" height="432" autoplay loop playsinline poster="../images/video-6.png" class="lazy">
          <source data-src="../videos/video-6.mp4"  type="video/mp4" />
          <source data-src="../videos/video-6.ogv"  type="video/ogg" />
        </video>
      </div>

    </div>


    <!-- page 7 -->
    <div class="pg pg-7">
      <div class="pg__video rellax" data-rellax-speed="0">
        <video width="640" height="360" autoplay loop playsinline poster="../images/video-7.png" class="lazy">
          <source data-src="../videos/video-7.mp4"  type="video/mp4" />
          <source data-src="../videos/video-7.ogv"  type="video/ogg" />
        </video>
      </div>
      <div class="pg__block rellax" data-rellax-speed="-4" data-rellax-percentage="0.5"></div>
      <div class="pg__text rellax clicker" data-rellax-speed="4" id="sad" data-rellax-percentage="0.5">
         I liked to wear one of Mr. Orbitson’s grey smoking jackets. I put on sad music: songs with <span class="invisible">lost</span> or <span class="invisible">heart</span> or <span class="invisible">broken</span> in the title.
      </div>
      <div class="pg__text rellax" data-rellax-speed="0" id="alone" data-rellax-percentage="0.5">
        It was the kind of music that I used to love to listen to when I came back from a party, drunk and horny and alone.
      </div>
      <div class="pg__text rellax clicker" data-rellax-speed="0" id="artist" data-rellax-percentage="0.5">
          It could be <span class="invisible">Otis Redding</span>, <span class="invisible">Maria Callas</span>, <span class="invisible">Kate Bush</span>, <span class="invisible">ANOHNI</span>, some droopy-eyed teen with a broken guitar, a spinster giving herself up to <span class="" id="chopin">Chopin</span>.
      </div>
      </div>

    <!-- page 8  -->

    <div class="pg pg-8">
      <div class="pg__video rellax" data-rellax-speed="0">
        <video width="640" height="360" autoplay loop playsinline poster="../images/video-8.png" class="lazy">
          <source data-src="../videos/video-8.mp4"  type="video/mp4" />
          <source data-src="../videos/video-8.ogv"  type="video/ogg" />
        </video>
      </div>
      <div class="pg-8__text rellax" data-rellax-speed="0">
         <div id="oola">Oola</div>
         <div id="name">her name,</div>
         <div id="a-word">a word that sounded funny when you repeated it,</div>
         <div id="like-any">like any word said too many times.</div>
         <div id="kid">I used to do this as a kid, repeating my name or the words</div>
         <div id="book">book</div>
         <div id="bread">bread</div>
         <div id="breasts">breasts</div>
         <div id="until">until these most basic things sounded foreign and I could barely remember what they meant.</div>
         <div id="oola-2">Oola</div>
         <div id="tongue">similarly cracked open on the tongue,</div>
         <div id="cream">like something cream-filled, a necessary embarrassment.</div>
         <div id="mouth">It made one’s mouth suddenly suspect.</div>
      </div>
    </div>

    <!-- page 9  -->

    <div class="pg pg-9">
      <div class="pg__video rellax" data-rellax-speed="0">
        <video width="640" height="360" autoplay loop playsinline poster="../images/video-9.png" class="lazy">
          <source data-src="../videos/video-9.mp4"  type="video/mp4" />
          <source data-src="../videos/video-9.ogv"  type="video/ogg" />
        </video>
      </div>
      <div class="pg__text rellax" data-rellax-speed="2" data-rellax-percentage="0.5">
         We sat down on the davenport, each wedged in a corner, with an empty space between us. Then, when she felt moved to, Oola would put a pair of nylon stockings on her head.
      </div>
      <div class="pg__block rellax" data-rellax-speed="2" data-rellax-percentage="0.5">

      </div>
    </div>

    <!-- page 10 -->

    <div class="pg pg-10">
        <div class="pg__block rellax" data-rellax-percentage="0.5"></div>
      <div class="pg__video rellax" data-rellax-speed="0">
        <video width="640" height="360" autoplay loop playsinline poster="../images/video-10.png" class="lazy">
          <source data-src="../videos/video-10.mp4"  type="video/mp4" />
          <source data-src="../videos/video-10.ogv"  type="video/ogg" />
        </video>
      </div>
      <div class="pg__text rellax" data-rellax-speed="5" data-rellax-percentage="0.5">
         With the stockings in place, she faced me, and it always gave me chills to see the fucked-up ex-face swivel, seeking mine, like any blind animal that knows to seek heat.
      </div>

    </div>

    <!-- page 11 -->
    <div class="pg pg-11">
      <div class="pg__video rellax" data-rellax-speed="0" id="moving-video">
        <video width="800" height="450" autoplay loop playsinline poster="../images/video-11.png" class="lazy">
          <source data-src="../videos/video-11.mp4"  type="video/mp4" />
          <source data-src="../videos/video-11.ogv"  type="video/ogg" />
        </video>
      </div>
        <div class="pg__text rellax" data-rellax-speed="3" data-rellax-percentage="0.5" id="half-one">
          <div id="stanza-one">
            <div class="pg-11__line line-one">
              <span id="through">Through</span> <span>the </span><span id="stretched">stretched</span> <span id="fabric">fabric,</span> her <span id="features">features</span> <span>were</span>
            </div>
            <div class="pg-11__line line-two">
              <span id="blurred">blurred,</span> <span>as if a left-hander had been</span> <span id="penciling">penciling her,</span>
            </div>
            <div class="pg-11__line line-three">
              <span id="smudging">smudging</span> <span>the last</span> <span id="stroke">stroke</span> <span>as he made</span>
            </div>
            <div class="pg-11__line line-four">
              <span>the</span> <span id="next">next,</span><span id="face"> a face</span> <span>not so much </span><span id="ruined">ruined </span><span>as </span><span id="erased">erased.</span>
            </div>
          </div>
          <div id="stanza-two">
            <div class="pg-11__line line-five">
              <span>Her</span> <span id="eyelashes">eyelashes</span> <span>were crimped, her </span><span id="nose">nose squished,</span>
            </div>
            <div class="pg-11__line line-six">
              <span>her</span> <span id="mouth-forced">mouth forced</span></span> <span id="open">open,</span> <span>her</span> <span id="cheeks">cheeks</span> <span>Botoxed back.</span>
            </div>
          </div>
       </div>
       <div class="pg-11__line" id="stanza-three">
            <span>As best we could</span> <span>we made eye contact.</span>
          </div>
      <div class="pg__block rellax" data-rellax-speed="0">

      </div>
    </div>

    <div class="pg pg-12">
      <div class="pg__video rellax" data-rellax-speed="-2.5" data-rellax-percentage="0.3">
        <video width="640" height="360" autoplay loop playsinline poster="../images/video-12.png" class="lazy">
          <source data-src="../videos/video-12.mp4"  type="video/mp4" />
          <source data-src="../videos/video-12.ogv"  type="video/ogg" />
        </video>
      </div>
      <div class="pg__text rellax" data-rellax-speed="3" id="water-text" data-rellax-percentage="0.3">
         When I wore the nylons, I felt like I was underwater. The house looked ghostly through my tight beige veil.
      </div>
      <div class="pg__block rellax" data-rellax-speed="0">

      </div>
    </div>

     <!-- page 13  -->

    <div class="pg pg-13">
      <div class="pg__video rellax" data-rellax-speed="4" data-rellax-percentage="0.5">
        <video width="640" height="360" autoplay loop playsinline poster="../images/video-13.png" class="lazy">
          <source data-src="../videos/video-13.mp4"  type="video/mp4" />
          <source data-src="../videos/video-13.ogv"  type="video/ogg" />
        </video>
      </div>
      <div class="pg__block rellax" data-rellax-speed="0">
        <div class="pg-13__text rellax" data-rellax-speed="0">
      <div class="rellax" id="oola-3" data-rellax-speed="2" data-rellax-percentage="-0.2">
         Oola
      </div>
      <div class="before-animate" id="silver">
        like the silvery streak on a photograph labeled
      </div>
      <div class="before-animate" id="paranormal">
        PARANORMAL.
      </div>
      <div class="before-animate stanza-four">
         I liked being looked at without being seen. The floor dropped away. The atmosphere was voilinish. My sit bones turned numb as I tried not to move, to fix Oola’s mouth</div>
      <div class="before-animate" id="stamp"> (a pink postage stamp)</div>
      <div class="before-animate stanza-five">
          in my sight. She could’ve been anyone as she sat there, my grandmother or my first true love,
      </div>
      <div class="before-animate" id="fine">
        a fine,
      </div>
      <div class="before-animate" id="feminine">
        feminine
      </div>
      <div class="before-animate" id="smear">
        smear.
      </div>
      </div>
      </div>
    </div>

    <!-- page 14 -->

    <div class="pg pg-14">
      <div class="pg__video rellax" data-rellax-speed="0">
        <div class="pg__text-wrapper">
        <div id="stopped">
          We stopped only when the day’s first rays threatened to penetrate the stocking’s mesh and clarify the face beneath, to recognize its bones and restore it...
        </div>
        </div>
        <video width="960" height="540" autoplay loop playsinline poster="../images/video-14.png" class="lazy">
          <source data-src="../videos/video-14.mp4"  type="video/mp4" />
          <source data-src="../videos/video-14.ogv"  type="video/ogg" />
        </video>
          <div id="gender">
            to a gender, a history.
          </div>
      </div>
      </div>

    <!-- page 15 -->

    <div class="pg pg-15">
      <div class="pg__video rellax" data-rellax-speed="0">
        <video width="640" height="360" autoplay loop playsinline poster="../images/video-15.png" class="lazy">
          <source data-src="../videos/video-15.mp4"  type="video/mp4" />
          <source data-src="../videos/video-15.ogv"  type="video/ogg" />
        </video>
      </div>
      <div class="pg__text rellax" data-rellax-speed="3" data-rellax-percentage="-0.2">
           At this point, whoever was wearing the hose yanked them off and balled them up in embarrassment, stuffing them into the crack between couch cushions. This is where they stayed until the next evening, when we played the game.
      </div>
      <div class="pg__block rellax" data-rellax-speed="3" data-rellax-percentage="-0.2">

      </div>
    </div>


  <div class="credits">
    <img src="../images/perfume.png" alt="an old-fashioned perfume bottle" height="200" class="credits__image" id="perfume">
    <img src="../images/cocktail.png" alt="an old-fashioned cocktail" height="200" class="credits__image" id="cocktail">
    <img src="../images/vinyl.png" alt="a vinyl record" height="200" class="credits__image" id="vinyl">
    <div class="credits__text">
      <h3><strong>Original novel by</strong> Brittany Newell</h3>
      <h3><strong>Adapted and directed by</strong> Laura Houlberg</h3>
      <h3><strong>Starring</strong> Shane Coffey and Laura Houlberg</h3>
      <h3><strong>Cinematography by</strong> Cody William Smith</h3>
      <h3><strong>Web Design by</strong> Sadie Balsom</h3>
    </div>
  </div>

</div>



<%= javascript_include_tag "site" %>

<script src="//cdn.jsdelivr.net/npm/velocity-animate@2.0/velocity.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/velocity-animate@2.0/velocity.ui.min.js"></script>
