<div class="header">
  <video width="640" height="360" autoplay loop muted playsinline poster="../images/video-1.png" class="lazy">
    <source data-src="../videos/video-1.mp4"  type="video/mp4" />
    <source data-src="../videos/video-1.ogv"  type="video/ogg" />
  </video>
  <h1>Oola</h1>
  <h2>Original text by Brittany Newell</h2>
  <h2>Adaptation by Laura Houlberg</h2>
</div>

<div class="wrapper">
<!-- page 2 -->
  <div class="pg pg-2">
    <div class="pg__text rellax" data-rellax-speed="1">
      We made up a game during our stay at the Orbitson’s beach house.
    </div>
    <div class="pg__block rellax" data-rellax-speed="+3">

    </div>
    <div class="pg__video rellax" data-rellax-speed="+2">
      <video width="640" height="360" autoplay loop playsinline poster="../images/video-2.png" class="lazy">
        <source data-src="../videos/video-2.mp4"  type="video/mp4" />
        <source data-src="../videos/video-2.ogv"  type="video/ogg" />
      </video>
    </div>
  </div>
  <!-- page 3 -->
  <div class="pg pg-3 rellax">
    <div class="pg__video rellax" data-rellax-speed="+1">
      <video width="640" height="360" autoplay loop playsinline poster="../images/video-3.png" class="lazy">
        <source data-src="../videos/video-3.mp4"  type="video/mp4" />
        <source data-src="../videos/video-3.ogv"  type="video/ogg" />
      </video>
    </div>
    <div class="pg__block rellax" data-rellax-speed="-1">

    </div>
    <div class="pg__text rellax" data-rellax-speed="2">
       We played it in the evening, after dinner. Oola wore one of Mrs. Orbitson’s dresses, an unseasonable velvet number with a skirt that hazed the floor, the hem furry and teasing as a frat boy.
    </div>
  </div>
<!-- page 4 -->
    <div class="pg pg-4">
        <div class="pg__video rellax" data-rellax-speed="2">
        <video width="640" height="360" autoplay loop playsinline poster="../images/video-4.png" class="lazy">
          <source data-src="../videos/video-4.mp4"  type="video/mp4" />
          <source data-src="../videos/video-4.ogv"  type="video/ogg" />
        </video>
      </div>
      <div class="pg__text rellax" data-rellax-speed="0">
        She sprayed Mrs. Orbitson’s perfume, generously, on her neck.
      </div>
      <div class="pg__block rellax" data-rellax-speed="0">

      </div>
    </div>

    <!-- page 5 -->
    <div class="pg pg-5">
        <div class="pg__video rellax" data-rellax-speed="2">
        <video width="640" height="360" autoplay loop playsinline poster="../images/video-5.png" class="lazy">
          <source data-src="../videos/video-5.mp4"  type="video/mp4" />
          <source data-src="../videos/video-5.ogv"  type="video/ogg" />
        </video>
      </div>
      <div class="pg__text rellax" data-rellax-speed="0">
        For<br>convenience’s<br>sake,<br>she<br>wore<br>her<br>hair<br>back,<br>cleaned<br>and<br>low.
      </div>
      <div class="pg__block rellax" data-rellax-speed="0">

      </div>
    </div>

    <!-- page 6 needs to be screenshot-->

    <div class="pg pg-6">
      <div class="pg__video rellax" data-rellax-speed="0">
        <video width="640" height="360" autoplay loop playsinline poster="../images/video-6.png" class="lazy">
          <source data-src="../videos/video-6.mp4"  type="video/mp4" />
          <source data-src="../videos/video-6.ogv"  type="video/ogg" />
        </video>
      </div>
      <div class="pg__text rellax" data-rellax-speed="0">
          Oola poured each of us a drink, choosing from the Orbitson’s expansive wet bar. We were like children with taped-on corsages, estimating our own depths, guessing at love. The windows would be open, the smell of the city suffusing the room. It ate at the curtains, warped the dark wood, did all the things we as house-sitters were supposed to prevent but as self-absorbed lovers found excusable.
      </div>
      <div class="pg__block rellax" data-rellax-speed="0">

      </div>
    </div>

    <!-- page 7 -->
    <div class="pg pg-7">
      <div class="pg__video rellax" data-rellax-speed="0">
        <video width="640" height="360" autoplay loop playsinline poster="../images/video-7.png" class="lazy">
          <source data-src="../videos/video-7.mp4"  type="video/mp4" />
          <source data-src="../videos/video-7.ogv"  type="video/ogg" />
        </video>
      </div>
      <div class="pg__text rellax" data-rellax-speed="0">
         I liked to wear one of Mr. Orbitson’s grey smoking jackets. I put on sad music: songs with lost or heart or broken in the title. It was the kind of music that I used to love to listen to when I came back from a party, drunk and horny and alone. It could be Otis Redding, Maria Callas, Kate Bush, ANOHNI, some droopy-eyed teen with a broken guitar, a spinster giving herself up to Chopin.
      </div>
      <div class="pg__block rellax" data-rellax-speed="0">

      </div>
    </div>

    <!-- page 8  -->

    <div class="pg pg-8">
      <div class="pg__video rellax" data-rellax-speed="0">
        <video width="640" height="360" autoplay loop playsinline poster="../images/video-8.png" class="lazy">
          <source data-src="../videos/video-8.mp4"  type="video/mp4" />
          <source data-src="../videos/video-8.ogv"  type="video/ogg" />
        </video>
      </div>
      <div class="pg__text rellax" data-rellax-speed="0">
         <em>Oola</em>, her name. A word that sounded funny when you repeated it, like any word said too many times. I used to do this as a kid, repeating my name or the words <em>book</em>, <em>bread</em>, <em>breasts</em>, until these most basic things sounded foreign and I could barely remember what they meant. <em>Oola</em> similarly cracked open on the tongue, like something cream-filled, a necessary embarrassment. It made one’s mouth suddenly suspect.
      </div>
      <div class="pg__block rellax" data-rellax-speed="0">

      </div>
    </div>

    <!-- page 9  needs to be screnshot-->

    <div class="pg pg-9">
      <div class="pg__video rellax" data-rellax-speed="0">
        <video width="640" height="360" autoplay loop playsinline poster="../images/video-9.png" class="lazy">
          <source data-src="../videos/video-9.mp4"  type="video/mp4" />
          <source data-src="../videos/video-9.ogv"  type="video/ogg" />
        </video>
      </div>
      <div class="pg__text rellax" data-rellax-speed="0">
         We sat down on the davenport, each wedged in a corner, with an empty space between us. Then, when she felt moved to, Oola would put a pair of nylon stockings on her head.
      </div>
      <div class="pg__block rellax" data-rellax-speed="0">

      </div>
    </div>

    <!-- page 10 needs to be screenshot-->

    <div class="pg pg-10">
      <div class="pg__video rellax" data-rellax-speed="0">
        <video width="640" height="360" autoplay loop playsinline poster="../images/video-10.png" class="lazy">
          <source data-src="../videos/video-10.mp4"  type="video/mp4" />
          <source data-src="../videos/video-10.ogv"  type="video/ogg" />
        </video>
      </div>
      <div class="pg__text rellax" data-rellax-speed="0">
         With the stockings in place, she faced me, and it always gave me chills to see the fucked-up ex-face swivel, seeking mine, like any blind animal that knows to seek heat.
      </div>
      <div class="pg__block rellax" data-rellax-speed="0">

      </div>
    </div>

    <!-- page 11 -->


    <div class="pg pg-11">
      <div class="pg__video rellax" data-rellax-speed="0">
        <video width="640" height="360" autoplay loop playsinline poster="../images/video-11.png" class="lazy">
          <source data-src="../videos/video-11.mp4"  type="video/mp4" />
          <source data-src="../videos/video-11.ogv"  type="video/ogg" />
        </video>
      </div>
      <div class="pg__text rellax" data-rellax-speed="0">
         Through the stretched fabric, her features were blurred, as if a left-hander had been penciling her, smudging the last stroke as he made the next, a face not so much ruined as erased.. Her eyelashes were crimped, her nose squished, her mouth forced open, her cheeks Botoxed back. As best we could we made eye contact.
      </div>
      <div class="pg__block rellax" data-rellax-speed="0">

      </div>
    </div>

    <!-- page 12 needs to be screenshot -->

    <div class="pg pg-12">
      <div class="pg__video rellax" data-rellax-speed="0">
        <video width="640" height="360" autoplay loop playsinline poster="../images/video-12.png" class="lazy">
          <source data-src="../videos/video-12.mp4"  type="video/mp4" />
          <source data-src="../videos/video-12.ogv"  type="video/ogg" />
        </video>
      </div>
      <div class="pg__text rellax" data-rellax-speed="0">
         When I wore the nylons, I felt like I was underwater. The house looked ghostly through my tight beige veil.
      </div>
      <div class="pg__block rellax" data-rellax-speed="0">

      </div>
    </div>

    <!-- page 13  needs to be screenshot-->

    <div class="pg pg-13">
      <div class="pg__video rellax" data-rellax-speed="0">
        <video width="640" height="360" autoplay loop playsinline poster="../images/video-13.png" class="lazy">
          <source data-src="../videos/video-13.mp4"  type="video/mp4" />
          <source data-src="../videos/video-13.ogv"  type="video/ogg" />
        </video>
      </div>
      <div class="pg__text rellax" data-rellax-speed="0">
         Oola like the silvery streak on a photograph labeled PARANORMAL. I liked being looked at without being seen. The floor dropped away. The atmosphere was voilinish. My sit bones turned numb as I tried not to move, to fix Oola’s mouth (a pink postage stamp) in my sight. She could’ve been anyone as she sat there, my grandmother or my first true love, a fine, feminine smear.
      </div>
      <div class="pg__block rellax" data-rellax-speed="0">

      </div>
    </div>

    <!-- page 14 needs to be screenshot-->

    <div class="pg pg-14">
      <div class="pg__video rellax" data-rellax-speed="0">
        <video width="640" height="360" autoplay loop playsinline poster="../images/video-14.png" class="lazy">
          <source data-src="../videos/video-14.mp4"  type="video/mp4" />
          <source data-src="../videos/video-14.ogv"  type="video/ogg" />
        </video>
      </div>
      <div class="pg__text rellax" data-rellax-speed="0">
          We stopped only when the day’s first rays threatened to penetrate the stocking’s mesh and clarify the face beneath, to recognize its bones and restore it to a gender, a history.
      </div>
      <div class="pg__block rellax" data-rellax-speed="0">

      </div>
    </div>

    <!-- page 15 -->

    <div class="pg pg-15">
      <div class="pg__video rellax" data-rellax-speed="0">
        <video width="640" height="360" autoplay loop playsinline poster="../images/video-15.png" class="lazy">
          <source data-src="../videos/video-15.mp4"  type="video/mp4" />
          <source data-src="../videos/video-15.ogv"  type="video/ogg" />
        </video>
      </div>
      <div class="pg__text rellax" data-rellax-speed="0">
           At this point, whoever was wearing the hose yanked them off and balled them up in embarrassment, stuffing them into the crack between couch cushions. This is where they stayed until the next evening, when we played the game.
      </div>
      <div class="pg__block rellax" data-rellax-speed="0">

      </div>
    </div>

</div>



  <div class="credits">
    <h3>Original novel by Brittany Newell</h3>
    <h3>Adapted and directed by Laura Houlberg</h3>
    <h3>Starring Shane Coffey and Laura Houlberg</h3>
    <h3>Cinematography by Cody William Smith</h3>
    <h3>Web Design by Sadie Balsom</h3>
  </div>


<%= javascript_include_tag "site" %>
